.single-product-wrap:hover{
    padding: 0 !important;
    margin: 0 !important;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(158, 158, 158, 0.51);
}
.single-product-wrap:hover .add-actions.action__overplay{
   
left: 0;
}

.add-actions.action__overplay {
    position: absolute;
    top: 0;
    left: -30px;
    width: 25%;
    border: 0;
}

.single-product-wrap:hover:before{
    visibility: hidden;
}

.add-actions-link li.add-cart > a i{
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: all 1s;
    background: #0a4b8ff2;
}

.add-actions-link li.add-cart > a i:hover {
    font-size: 22px;
    line-height: 22px;
    /* color: blue; */
    padding: 15px;
}

.add-actions-link li.add-cart > a:hover i {
   background-color: #0f3965f2;
}

/* shop */
.seller_content {
    padding: 20px 0;
}
.seller_title{
    border-bottom: 1px solid #eee;
}
.seller_title h4 {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0056b3;
    text-transform: uppercase;
}

p.seller_num {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.seller_item.about-image-wrap{
    width: 100% !important;
    text-align: center;
    padding-left: 0 !;
}
.dataTables_wrapper {
    margin-top: 10px !important;
}


/* login */
.page-section.page-section-login {
    margin: 10% auto;
}
h4.login-title {
    text-align: center;
    font-family: auto;
    font-size: 34px;
    font-weight: bold;
}
button.form-control.register-button {
    font-family: auto;
    font-size: 18px;
    font-weight: bold;
    background: #0a4b8f;
    color: #ffffff;
    cursor: pointer;
}
button.form-control.register-button:focus, button.face-button:focus{
    box-shadow: none;
}
button.face-button {
    width: 100%;
    background: #4267b2;
    color: #ffffff;
}
.logo_bit img {
    width: 100%;
}